<br>
<div class="tableWrapper">
    <div *ngIf="costs !== null">
        <table>
            <caption>
                Costs
            </caption>
            <tr>
                <th>Category</th>
                <th>Description</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
            <tr *ngFor="let cost of costs;">
                <td>{{ cost.category }}</td>
                <td>{{ cost.description }}</td>
                <td>{{ cost.price }}</td>
                <td>
                    <button (click)="deleteCost(cost.id)">Delete</button>
                </td>
            </tr>
        </table>
    </div>
</div>