<br>
<div class="tableWrapper">
    <div *ngIf="costs !== null">
        <table>
            <caption>
                COSTS
            </caption>
            <tr>
                <th>Category</th>
                <th>Description</th>
                <th>Price</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
            <tr *ngFor="let cost of costs | paginate: { itemsPerPage : itemsPerPage, currentPage: currentPage }">
                <td>{{ cost.category }}</td>
                <td>{{ cost.description || "-" }}</td>
                <td>{{ cost.price }}</td>
                <td>{{ cost.date }}</td>
                <td>
                    <button class="table-button" (click)="deleteCost(cost.id)">Delete</button>
                    <button class="table-button" (click)="editCost(cost.id)">Edit</button>
                </td>
            </tr>
        </table>
        <br>
        <div class="actionsBlock">
            <button (click)="addCost()">Add</button>
            <a href="/home">
                <i class="material-icons">home</i>
            </a>
        </div>
        <br>
        <div class="pagination">
            <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
        </div>
    </div>
    <app-pie-chart [chartData]="chartCosts"></app-pie-chart>
</div>