html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    font-family: sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-spacing: 0;
}

.centrate {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

h1 {
    font-size: 64px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 30px;
}

h2 {
	font-size: 32px;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 30px;
}

a {
	text-decoration: none;
	font-size: 24px;
	padding: 5px 10px 5px 10px;
}

button {
	border: 1px solid black;
	background-color: white;
	border-radius: 5px;
	color: black;
	font-size: 24px;
	padding: 5px 10px 5px 10px;
	outline: none;
}

button:hover {
	background-color: gray;
	cursor: pointer;
}

.formField {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.formField label {
    font-size: 18px;
    margin-bottom: 5px;
}

.formField input {
    height: 32px;
    font-size: large;
    width: 300px;
    border-radius: 5px;
    outline: none;
    padding: 5px;
}

.formField input:focus {
    border: 1px solid gray;
}

.validFormField {
    border: 1px solid black;
}

.erroredFormField {
    border: 1px solid red;
}

.formField p {
    margin-top: 5px;
    color: red;
}

.actionsBlock {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.actionsBlock a {
    padding: 0;
}

.actionsBlock a:visited {
    color: black;
}

.withLinkLabel {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

caption {
    margin-bottom: 10px;
    font-size: large;
    font-size: 32px;
}

table {
    border-radius: 5px;
    border: 1px solid gray;
}

tr th {
    border-bottom: 1px solid gray;
    padding: 5px 5px;
    border-left: 1px solid gray;
}

tr th:first-child {
    border-left: hidden;
}

tr td {
    border-top: hidden;
    border-bottom: 1px solid gray;
}

tr:last-child td {
    border-bottom: hidden;
}

tr td:first-child {
    border-left: hidden;
}

tr td:last-child {
    border-right: hidden;
}

th {
    font-size: 24px;
}

td {
    border-left: 1px solid gray;
    padding: 5px 5px;
    font-size: 20px;
    text-align: center;
}

.tableWrapper {
    display: flex;
    justify-content: space-around;
}