<app-general-actions-bar [isForTable]="false"></app-general-actions-bar>
<div class="homeTableWrapper fullHeight">    
    <div *ngIf="costs.length !== 0">
        <app-accounting-items-table [caption]="'LATEST COSTS'" [accountingItems]="costs"></app-accounting-items-table>
        <br>
        <button (click)="navigateToCosts()">See All</button>
    </div>
    <div style="text-align: center;" *ngIf="costs.length === 0">
        <div>There is nothing!</div>
        <br>
        <button (click)="navigateToAddCost()" data-cy="add-cost">Add cost</button>
    </div>
    <div *ngIf="incomes.length !== 0">
        <app-accounting-items-table [caption]="'LATEST INCOMES'" [accountingItems]="incomes"></app-accounting-items-table>
        <br>
        <button (click)="navigateToIncomes()">See All</button>
    </div>
    <div style="text-align: center;" *ngIf="incomes.length === 0">
        <div>There is nothing!</div>
        <br>
        <button (click)="navigateToAddIncome()" data-cy="add-income">Add income</button>
    </div>
</div>
