<app-general-actions-bar 
    [isForTable]="true"
    [exportButtonTitle]="'Export all incomes data as CSV file'"
    [data]="incomes"
    [reportType]="'incomes'"
></app-general-actions-bar>
<br>
<div class="tableWrapper">
    <div *ngIf="incomes !== null">
        <table>
            <caption>
                INCOMES
            </caption>
            <tr>
                <th>Category</th>
                <th>Description</th>
                <th>Price</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
            <tr *ngFor="let income of incomes  | paginate: { itemsPerPage : itemsPerPage, currentPage: currentPage }">
                <td>{{ income.category }}</td>
                <td>{{ income.description || "-" }}</td>
                <td>{{ income.price }}</td>
                <td>{{ income.date }}</td>
                <td>
                    <i class="material-icons" (click)="editIncome(income.id)" data-cy="edit">edit</i>
                    <i class="material-icons" (click)="deleteIncome(income.id)" data-cy="delete">delete</i>
                </td>
            </tr>
        </table>
        <br>
        <div class="actionsBlock">
            <button (click)="addIncome()" data-cy="add">Add</button>
            <a href="/home">
                <i class="material-icons" data-cy="back">home</i>
            </a>
        </div>
        <br>
        <div class="pagination">
            <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
        </div>
    </div>
    <app-pie-chart [chartData]="chartIncomes"></app-pie-chart>
</div>