<br>
<div class="tableWrapper">
    <div *ngIf="incomes !== null">
        <table>
            <caption>
                INCOMES
            </caption>
            <tr>
                <th>Category</th>
                <th>Description</th>
                <th>Price</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
            <tr *ngFor="let income of incomes;">
                <td>{{ income.category }}</td>
                <td>{{ income.description || "-" }}</td>
                <td>{{ income.price }}</td>
                <td>{{ income.date }}</td>
                <td>
                    <button class="table-button" (click)="deleteIncome(income.id)">Delete</button>
                </td>
            </tr>
        </table>
        <br>
        <div class="actionsBlock">
            <button (click)="addIncome()">Add</button>
            <a href="/home">
                <i class="material-icons">home</i>
            </a>
        </div>
    </div>
    <app-pie-chart [chartData]="chartIncomes"></app-pie-chart>
</div>