<div class="centrate">
    <h1>Authorization</h1>

    <form [formGroup]="authorizationForm" (ngSubmit)="onSubmit(authorizationForm.value)" autocomplete="off">
        <div class="formField">
            <label for="email">
                E-mail
            </label>
            <input id="email"
                type="email"
                formControlName="email"
                class="validFormField"
                [ngClass]="{ 'erroredFormField': submitted && (f.email.errors || (serverErrors && serverErrors.email)) }"
                (input)="resetServerErrors(this)"
                tabindex="1">

            <p *ngIf="submitted && f.email.errors">
                <span *ngIf="f.email.errors.required">
                    Email is required
                </span>
                <span *ngIf="f.email.errors.email">
                    Invalid e-mail
                </span>
            </p>
        </div>
        <div class="formField">
            <div style="display: flex; align-items: baseline; justify-content: space-between;">
                <label for="password" class="withLinkLabel">
                    Password       
                </label>
                <a class="reset-pass-link" href="/resetpassword" tabindex="5">
                    Forgot password?
                </a>
            </div>
            <input id="password"
                type="password"
                formControlName="password"
                class="validFormField"
                [ngClass]="{ 'erroredFormField': submitted && f.password.errors }"
                tabindex="2">

            <p *ngIf="submitted && f.password.errors">
                <span *ngIf="f.password.errors.required">
                    Password is required
                </span>
                <span *ngIf="f.password.errors.minlength">
                    Password must be longer than {{ f.password.errors.minlength.requiredLength }} characters
                </span>
            </p>
        </div>
        <div class="actionsBlock">
            <button type="submit" tabindex="3">
                Sign in
            </button>
            <a href="/" tabindex="4">
                <i class="material-icons">keyboard_backspace</i>
            </a>
        </div>
    </form>
    <div>
        <br>
        <p *ngIf="serverErrors">
            <span *ngIf="serverErrors.login" style="color: red;">
                {{ serverErrors.login }}
            </span>
        </p>
    </div>
</div>