<app-logout></app-logout>
<div class="homeTableWrapper fullHeight">    
    <div *ngIf="costs.length !== 0">
        <app-accounting-items-table [caption]="'LATEST COSTS'" [accountingItems]="costs"></app-accounting-items-table>
        <br>
        <button (click)="router.navigate(['/costs'])">See All</button>
    </div>
    <div style="text-align: center;" *ngIf="costs.length === 0">
        <div>There is nothing!</div>
        <br>
        <button (click)="router.navigate(['/add-cost'])">Add cost</button>
    </div>
    <div *ngIf="incomes.length !== 0">
        <app-accounting-items-table [caption]="'LATEST INCOMES'" [accountingItems]="incomes"></app-accounting-items-table>
        <br>
        <button (click)="router.navigate(['/incomes'])">See All</button>
    </div>
    <div style="text-align: center;" *ngIf="incomes.length === 0">
        <div>There is nothing!</div>
        <br>
        <button (click)="router.navigate(['/add-income'])">Add income</button>
    </div>
</div>
