<div class="homeTableWrapper fullHeight">    
    <div *ngIf="costs.length !== 0">
        <table>
            <caption>
                LATEST COSTS
            </caption>
            <tr>
                <th>Category</th>
                <th>Description</th>
                <th>Price</th>
                <th>Date</th>
            </tr>
            <tr *ngFor="let cost of costs;">
                <td class="tdPadding">{{ cost.category }}</td>
                <td class="tdPadding">{{ cost.description || "-" }}</td>
                <td class="tdPadding">{{ cost.price }}</td>
                <td class="tdPadding">{{ cost.date }}</td>
            </tr>
        </table>
        <br>
        <button (click)="router.navigate(['/costs'])">See All</button>
    </div>
    <div style="text-align: center;" *ngIf="costs.length === 0">
        <div>There is nothing!</div>
        <br>
        <button (click)="router.navigate(['/add-cost'])">Add cost</button>
    </div>
    <div *ngIf="incomes.length !== 0">
        <table>
            <caption>
                LATEST INCOMES
            </caption>
            <tr>
                <th>Category</th>
                <th>Description</th>
                <th>Price</th>
                <th>Date</th>
            </tr>
            <tr *ngFor="let income of incomes;">
                <td class="tdPadding">{{ income.category }}</td>
                <td class="tdPadding">{{ income.description || "-" }}</td>
                <td class="tdPadding">{{ income.price }}</td>
                <td class="tdPadding">{{ income.date }}</td>
            </tr>
        </table>
        <br>
        <button (click)="router.navigate(['/incomes'])">See All</button>
    </div>
    <div style="text-align: center;" *ngIf="incomes.length === 0">
        <div>There is nothing!</div>
        <br>
        <button (click)="router.navigate(['/add-income'])">Add income</button>
    </div>
</div>
