<ngx-charts-pie-chart
    [trimLabels]="trimLabels"
    [view]="view"
    [scheme]=""
    [results]="chartData"
    [gradient]="gradient"
    [legend]="showLegend"
    [legendPosition]="legendPosition"
    [labels]="showLabels"
    [doughnut]="isDoughnut"
    (select)="onSelect($event)"
    (activate)="onActivate($event)"
    (deactivate)="onDeactivate($event)">
</ngx-charts-pie-chart>
<br>
<input type="checkbox" id="doughnut" name="doughnut" (change)="isDoughnut = !isDoughnut"/>
<label for="doughnut" style="margin-left: 5px" for="doughnut">Doughnut</label>