<div class="centrate">
    <h1>Registration</h1>

    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit(registrationForm.value)">
        <div class="formField">
            <label for="email">
                E-mail
            </label>
            <input id="email"
                type="email"
                formControlName="email"
                class="validFormField"
                [ngClass]="{ 'erroredFormField': submitted && f.email.errors }">

            <p *ngIf="submitted && f.email.errors">
                <span *ngIf="f.email.errors.required">
                    Email is required
                </span>
                <span *ngIf="f.email.errors.email">
                    Invalid e-mail
                </span>
            </p>
        </div>
        <div class="formField">
            <label for="password">
                Password
            </label>
            <input id="password"
                type="password"
                formControlName="password"
                class="validFormField"
                [ngClass]="{ 'erroredFormField': submitted && f.password.errors }">

            <p *ngIf="submitted && f.password.errors">
                <span *ngIf="f.password.errors.required">
                    Password is required
                </span>
                <span *ngIf="f.password.errors.minlength">
                    Password must be longer than {{ f.password.errors.minlength.requiredLength }} characters
                </span>
            </p>
        </div>
        <div class="formField">
            <label for="repeatPassword">
                Repeat password
            </label>
            <input id="repeatPassword"
                appValidateEqualValue="password"
                type="password"
                formControlName="repeatPassword"
                class="validFormField"
                [ngClass]="{ 'erroredFormField': submitted && f.repeatPassword.errors }">

            <p *ngIf="submitted && f.repeatPassword.errors">
                <span *ngIf="f.repeatPassword.errors.required">
                    Password repeat is required
                </span>
                <span *ngIf="f.repeatPassword.errors.notEqual">
                    Doesn't match password
                </span>
            </p>
        </div>
        <div class="actionsBlock">
            <button type="submit">
                Sign up
            </button>
            <a href="/">
                <i class="material-icons">home</i>
            </a>
        </div>
    </form>
</div>