<div class="centrate">
    <h1>Registration</h1>

    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit(registrationForm.value)">
        <div class="formField">
            <label for="email">
                E-mail
            </label>
            <input id="email"
                type="email"
                formControlName="email"
                class="validFormField"
                [ngClass]="{ 'erroredFormField': submitted && (f.email.errors || (serverErrors && serverErrors.email)) }">

            <p *ngIf="submitted && f.email.errors">
                <span *ngIf="f.email.errors.required">
                    Email is required
                </span>
                <span *ngIf="f.email.errors.email">
                    Invalid e-mail
                </span>
            </p>
            <p *ngIf="serverErrors">
                <span *ngIf="serverErrors.email">
                    {{ serverErrors.email }}
                </span>
            </p>
        </div>
        <div class="formField">
            <label for="password">
                Password
            </label>
            <input id="password"
                type="password"
                formControlName="password"
                class="validFormField"
                [ngClass]="{ 'erroredFormField': submitted && f.password.errors }">

            <p *ngIf="submitted && f.password.errors">
                <span *ngIf="f.password.errors.required">
                    Password is required
                </span>
                <span *ngIf="f.password.errors.minlength">
                    Password must be longer than {{ f.password.errors.minlength.requiredLength }} characters
                </span>
            </p>
            <p *ngIf="serverErrors">
                <span *ngIf="serverErrors.password">
                    {{ serverErrors.password }}
                </span>
            </p>
        </div>
        <div class="formField">
            <label for="confirmPassword">
                Repeat password
            </label>
            <input id="confirmPassword"
                appValidateEqualValue="password"
                type="password"
                formControlName="confirmPassword"
                class="validFormField"
                [ngClass]="{ 'erroredFormField': submitted && f.confirmPassword.errors }">

            <p *ngIf="submitted && f.confirmPassword.errors">
                <span *ngIf="f.confirmPassword.errors.required">
                    Password repeat is required
                </span>
                <span *ngIf="f.confirmPassword.errors.notEqual">
                    Doesn't match password
                </span>
            </p>
            <p *ngIf="serverErrors">
                <span *ngIf="serverErrors.confirmPassword">
                    {{ serverErrors.confirmPassword }}
                </span>
            </p>
        </div>
        <div class="actionsBlock">
            <button type="submit">
                Sign up
            </button>
            <a href="/">
                <i class="material-icons">home</i>
            </a>
        </div>
    </form>
    <div>
        <br>
        <p *ngIf="registrationSuccess === false" style="color: red;">
            <span>
                Server error, Please try again
            </span>
        </p>
    </div>
</div>